<app-breadcrumbs [name]="'Gestión de usuarios'" [namePage]="'Lista de usuarios'"
    [description]="'Administra tus usuarios.'">
</app-breadcrumbs>

<div style="padding-top: 0%;" class="wrapper wrapper-content animated fadeIn mx-2 mt-3" id="ibox">
    <div class="ibox-content">
        <div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>

        <form class="formBusqueda" autocomplete="off" name="myForm">
            <div class="filter mx-0 mb-3 d-flex flex-column">
                <div class=" row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 basic-filter">
                    <div class="bar-busq col-12 col-md-12 pr-0">
                        <form class="" autocomplete="off" name="myForm">
                            <div class="form-group col-lg-10 col-md-6 has-search">
                                <span class="fa fa-search form-control-feedback"></span>
                                <input type="text" class="form-control" id="filter" placeholder="Buscar...">
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-md-6 buttons-fb">
                        <div class="buttons-filter d-flex justify-content-end">

                            <div class="advanced-filter d-flex justify-content-center aling-items-center px-1">
                                <button type="button"
                                    class="btn btn-primary btn-sm d-flex align-items-center justify-content-center px-1 "
                                    data-toggle='modal' data-target='#modalCrear'> <i class='fa fa-plus'
                                        aria-hidden='true'></i>
                                    &nbsp; Crear
                                    usuario</button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </form>

        <div class="table-responsive">
            <table class="footable table table-striped  " data-page-size="10" data-filter=#filter>
                <thead>
                    <tr>
                        <th>Identificación</th>
                        <th>Nombre completo</th>
                        <th>Edad</th>
                        <th>Habilidades</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="myTable2">
                    <tr *ngFor="let user of users ; let indice=index ">
                        <td>{{user.userId}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.age }} años</td>
                        <td>
                            <ul>
                                <li *ngFor="let skill of user.skills">{{skill}}</li>
                            </ul>
                        </td>
                        <td><button class='btn btn-primary   btnTablaAcc' data-toggle='modal'
                                data-target='#modalEdit'><i class='fa fa-pencil' aria-hidden='true'
                                    title="Editar usuario"></i></button>&nbsp;
                            <button class='btn btn-info btn-danger btnTablaAcc' title="Eliminar usuario"><i
                                    class="fa-solid fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="10">
                            <ul class="pagination float-right"></ul>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>


    </div>
</div>