<header id="header" class="fixed-top ">

  <div class="container d-flex align-items-center">
    <a class="logo me-auto">
      <img routerLink="/home-page" src="assets\img\logos\velaio-logo.png" style="min-height: 65px;" alt=""
        class="img-fluid">
    </a>


    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto " routerLinkActive="active" routerLink="/home-page">Inicio</a></li>
        <li><a class="nav-link scrollto"  routerLink="/task-manager">Gestor de tareas</a></li>
        <li><a class="nav-link scrollto"  routerLink="/users">Gestor de usuarios</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

  </div>
</header>